{% extends 'base.html' %}

    {% block content %}

        <!-- Locatarios -->

            <div class="container">

                <div class="client-register">

                    <!-- fom cadastro -->
                    <div class="client-register-background">

                        <div>
                            <h2 class="client-register-title">Locatários</h2>
                        </div>

                        <table class="table">
                          <thead>
                            <tr class="table-title">
                              <th scope="col">Cliente</th>
                              <th scope="col">Edifício</th>
                              <th scope="col">Apto</th>
                              <th scope="col">Aluguel</th>
                              <th scope="col">Telefone</th>
                              <th scope="col">E-mail</th>
                            </tr>
                          </thead>
                          <tbody class="table-data">

                          {% for cliente in apartamento %}
                            <tr >
                              <td>{{ cliente.locatario }}</td>
                              <td>{{ cliente.edificio }}</td>
                              <td>{{ cliente.apartamento }}</td>
                              <td>{{ cliente.valor }},00</td>
                              <td>{{ cliente.locatario.telefone }}</td>
                              <td>{{ cliente.locatario.email }}</td>
                            </tr>
                          {% endfor %}

                          </tbody>
                        </table>

                    </div>

                    <!-- / locatarios -->

                </div>
            </div>


<!-- /  properties-views -->

    {% endblock %}