<! -- footer -->

    <footer class="main-footer">

        <div class="contato row">
            <div class="footer-author col">
                <span class="footer-author-item"> Contato: </span>
                <span class="footer-author-item">
                    <i class="fa-solid fa-envelope footer-author-item-ind"></i> imoveis@imoveis.com.br
                </span>
                <span class="footer-author-item">
                    <i class="fa-solid fa-phone footer-author-item-ind"></i> (XX) XXXXX - XXXX
                </span>
            </div>
        </div>

        <div class="Developer">
            <div class="footer-author col">
                <span class="footer-author-item"> Developer: </span>
                <span class="footer-author-item">
                    <i class="fa-solid fa-code footer-author-item-ind"></i>  Rômulo P T Mota
                </span>
                <span class="footer-author-item">
                    <i class="fa-solid fa-envelope footer-author-item-ind"></i> romuloptmota@gmail.com
                </span>
            </div>
        </div>
    </footer>

<! / -- footer -->