<! -- properties-views -->

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="properties properties-list-item">
                <div class="properties-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe5" alt="Temporario">
                </div>

                <div class="properties-title-container">
                    <h2 class="properties-title">Edifíco Vilela, Apto 23</h2>
                </div>
                <div class="properties-author">
                    <span class="properties-author-item">
                        <i class="fa-solid fa-bed"></i> 4 Quartos
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-shower"></i> 2 Banheiros
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-car"></i> 2 vagas
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-house"></i> 90 m²
                    </span>
                </div>
                <div class="properties-title-valor">
                    <h4 class="properties-title">R$ <span class="properties-value"> 1200,00</span> /mês</h4>
                </div>

                <footer class="properties-footer">
                    <a class="properties-read-more button button-blue button-full-width" href="#">
                        <i class="fa-solid fa-eye"></i>
                        <span> ver mais</span>
                    </a>
                </footer>

            </div>

            <div class="properties properties-list-item">
                <div class="properties-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe5" alt="Temporario">
                </div>

                <div class="properties-title-container">
                    <h2 class="properties-title">Edifíco Vilela, Apto 23</h2>
                </div>
                <div class="properties-author">
                    <span class="properties-author-item">
                        <i class="fa-solid fa-bed"></i> 4 Quartos
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-shower"></i> 2 Banheiros
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-car"></i> 2 vagas
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-house"></i> 90 m²
                    </span>
                </div>
                <div class="properties-title-valor">
                    <h4 class="properties-title">R$ <span class="properties-value"> 1200,00</span> /mês</h4>
                </div>

                <footer class="properties-footer">
                    <a class="properties-read-more button button-blue button-full-width" href="#">
                        <i class="fa-solid fa-eye"></i>
                        <span> ver mais</span>
                    </a>
                </footer>

            </div>
            <div class="properties properties-list-item">
                <div class="properties-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe5" alt="Temporario">
                </div>

                <div class="properties-title-container">
                    <h2 class="properties-title">Edifíco Vilela, Apto 23</h2>
                </div>
                <div class="properties-author">
                    <span class="properties-author-item">
                        <i class="fa-solid fa-bed"></i> 4 Quartos
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-shower"></i> 2 Banheiros
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-car"></i> 2 vagas
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-house"></i> 90 m²
                    </span>
                </div>
                <div class="properties-title-valor">
                    <h4 class="properties-title">R$ <span class="properties-value"> 1200,00</span> /mês</h4>
                </div>

                <footer class="properties-footer">
                    <a class="properties-read-more button button-blue button-full-width" href="#">
                        <i class="fa-solid fa-eye"></i>
                        <span> ver mais</span>
                    </a>
                </footer>

            </div>
            <div class="properties properties-list-item">
                <div class="properties-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe5" alt="Temporario">
                </div>

                <div class="properties-title-container">
                    <h2 class="properties-title">Edifíco Vilela, Apto 23</h2>
                </div>
                <div class="properties-author">
                    <span class="properties-author-item">
                        <i class="fa-solid fa-bed"></i> 4 Quartos
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-shower"></i> 2 Banheiros
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-car"></i> 2 vagas
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-house"></i> 90 m²
                    </span>
                </div>
                <div class="properties-title-valor">
                    <h4 class="properties-title">R$ <span class="properties-value"> 1200,00</span> /mês</h4>
                </div>

                <footer class="properties-footer">
                    <a class="properties-read-more button button-blue button-full-width" href="#">
                        <i class="fa-solid fa-eye"></i>
                        <span> ver mais</span>
                    </a>
                </footer>

            </div>
            <div class="properties properties-list-item">
                <div class="properties-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe5" alt="Temporario">
                </div>

                <div class="properties-title-container">
                    <h2 class="properties-title">Edifíco Vilela, Apto 23</h2>
                </div>
                <div class="properties-author">
                    <span class="properties-author-item">
                        <i class="fa-solid fa-bed"></i> 4 Quartos
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-shower"></i> 2 Banheiros
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-car"></i> 2 vagas
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-house"></i> 90 m²
                    </span>
                </div>
                <div class="properties-title-valor">
                    <h4 class="properties-title">R$ <span class="properties-value"> 1200,00</span> /mês</h4>
                </div>

                <footer class="properties-footer">
                    <a class="properties-read-more button button-blue button-full-width" href="#">
                        <i class="fa-solid fa-eye"></i>
                        <span> ver mais</span>
                    </a>
                </footer>

            </div>
            <div class="properties properties-list-item">
                <div class="properties-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe5" alt="Temporario">
                </div>

                <div class="properties-title-container">
                    <h2 class="properties-title">Edifíco Vilela, Apto 23</h2>
                </div>
                <div class="properties-author">
                    <span class="properties-author-item">
                        <i class="fa-solid fa-bed"></i> 4 Quartos
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-shower"></i> 2 Banheiros
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-car"></i> 2 vagas
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-house"></i> 90 m²
                    </span>
                </div>
                <div class="properties-title-valor">
                    <h4 class="properties-title">R$ <span class="properties-value"> 1200,00</span> /mês</h4>
                </div>

                <footer class="properties-footer">
                    <a class="properties-read-more button button-blue button-full-width" href="#">
                        <i class="fa-solid fa-eye"></i>
                        <span> ver mais</span>
                    </a>
                </footer>

            </div>
            <div class="properties properties-list-item">
                <div class="properties-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe5" alt="Temporario">
                </div>

                <div class="properties-title-container">
                    <h2 class="properties-title">Edifíco Vilela, Apto 23</h2>
                </div>
                <div class="properties-author">
                    <span class="properties-author-item">
                        <i class="fa-solid fa-bed"></i> 4 Quartos
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-shower"></i> 2 Banheiros
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-car"></i> 2 vagas
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-house"></i> 90 m²
                    </span>
                </div>
                <div class="properties-title-valor">
                    <h4 class="properties-title">R$ <span class="properties-value"> 1200,00</span> /mês</h4>
                </div>

                <footer class="properties-footer">
                    <a class="properties-read-more button button-blue button-full-width" href="#">
                        <i class="fa-solid fa-eye"></i>
                        <span> ver mais</span>
                    </a>
                </footer>

            </div>
            <div class="properties properties-list-item">
                <div class="properties-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe5" alt="Temporario">
                </div>

                <div class="properties-title-container">
                    <h2 class="properties-title">Edifíco Vilela, Apto 23</h2>
                </div>
                <div class="properties-author">
                    <span class="properties-author-item">
                        <i class="fa-solid fa-bed"></i> 4 Quartos
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-shower"></i> 2 Banheiros
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-car"></i> 2 vagas
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-house"></i> 90 m²
                    </span>
                </div>
                <div class="properties-title-valor">
                    <h4 class="properties-title">R$ <span class="properties-value"> 1200,00</span> /mês</h4>
                </div>

                <footer class="properties-footer">
                    <a class="properties-read-more button button-blue button-full-width" href="#">
                        <i class="fa-solid fa-eye"></i>
                        <span> ver mais</span>
                    </a>
                </footer>

            </div>
            <div class="properties properties-list-item">
                <div class="properties-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe5" alt="Temporario">
                </div>

                <div class="properties-title-container">
                    <h2 class="properties-title">Edifíco Vilela, Apto 23</h2>
                </div>
                <div class="properties-author">
                    <span class="properties-author-item">
                        <i class="fa-solid fa-bed"></i> 4 Quartos
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-shower"></i> 2 Banheiros
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-car"></i> 2 vagas
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-house"></i> 90 m²
                    </span>
                </div>
                <div class="properties-title-valor">
                    <h4 class="properties-title">R$ <span class="properties-value"> 1200,00</span> /mês</h4>
                </div>

                <footer class="properties-footer">
                    <a class="properties-read-more button button-blue button-full-width" href="#">
                        <i class="fa-solid fa-eye"></i>
                        <span> ver mais</span>
                    </a>
                </footer>

            </div>
            <div class="properties properties-list-item">
                <div class="properties-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe5" alt="Temporario">
                </div>

                <div class="properties-title-container">
                    <h2 class="properties-title">Edifíco Vilela, Apto 23</h2>
                </div>
                <div class="properties-author">
                    <span class="properties-author-item">
                        <i class="fa-solid fa-bed"></i> 4 Quartos
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-shower"></i> 2 Banheiros
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-car"></i> 2 vagas
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-house"></i> 90 m²
                    </span>
                </div>
                <div class="properties-title-valor">
                    <h4 class="properties-title">R$ <span class="properties-value"> 1200,00</span> /mês</h4>
                </div>

                <footer class="properties-footer">
                    <a class="properties-read-more button button-blue button-full-width" href="#">
                        <i class="fa-solid fa-eye"></i>
                        <span> ver mais</span>
                    </a>
                </footer>

            </div>
            <div class="properties properties-list-item">
                <div class="properties-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe5" alt="Temporario">
                </div>

                <div class="properties-title-container">
                    <h2 class="properties-title">Edifíco Vilela, Apto 23</h2>
                </div>
                <div class="properties-author">
                    <span class="properties-author-item">
                        <i class="fa-solid fa-bed"></i> 4 Quartos
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-shower"></i> 2 Banheiros
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-car"></i> 2 vagas
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-house"></i> 90 m²
                    </span>
                </div>
                <div class="properties-title-valor">
                    <h4 class="properties-title">R$ <span class="properties-value"> 1200,00</span> /mês</h4>
                </div>

                <footer class="properties-footer">
                    <a class="properties-read-more button button-blue button-full-width" href="#">
                        <i class="fa-solid fa-eye"></i>
                        <span> ver mais</span>
                    </a>
                </footer>

            </div>


        </div>

    </main>

<! / -- properties-views -->