<! -- properties-views -->

    <main class="main-content-container">
        <div class="main-content main-content-list container">

            {% for dados in apartament %}
            <div class="properties properties-list-item">

                <div class="properties-cover">

                    <!-- Caroucel image -->
                    <!-- Carousel Indicators -->
                    <div id="carouselExampleIndicators{{ dados.codigo }}" class="carousel slide">
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                      </div>
                        <!-- /Carousel Indicators -->

                        <!-- insert image-->
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="{{ dados.imagem1.url }}" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="{{ dados.imagem2.url }}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="{{ dados.imagem3.url }}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="{{ dados.imagem4.url }}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="{{ dados.imagem1.url }}" class="d-block w-100" alt="...">
                        </div>

                      </div>
                        <!-- / insert image-->

                        <!-- Botao carousel - next | previous -->
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{ dados.codigo }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{ dados.codigo }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                        <!-- / Botao carousel - next | previous -->

                    </div>
                    <!-- /Caroucel image -->

                </div>

                <!-- Data Apartament -->
                <div class="properties-title-container">
                    <h2 class="properties-title">Edificio {{ dados.edificio }}, Apto {{ dados.apartamento }}</h2>
                </div>
                <div class="properties-author">
                    <span class="properties-author-item">
                        <i class="fa-solid fa-bed"></i> {{ dados.quartos }} Quartos
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-shower"></i> {{ dados.banheiro }} Banheiros
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-car"></i> {{ dados.vagas }} vagas
                    </span>
                    <span class="properties-author-item">
                        <i class="fa-solid fa-house"></i> {{ dados.tamanho }} m²
                    </span>
                    <span class="properties-author-item">
                        cod.{{ dados.codigo }}
                    </span>
                </div>
                <div class="properties-title-valor">
                    <h4 class="properties-title">R$ <span class="properties-value"> {{ dados.valor }}</span>,00 /mês</h4>
                </div>
                <!-- / Data Apartament -->



            </div>
            {% endfor %}

        </div>

    </main>

<! / -- properties-views -->